In [2]:
import numpy as np
import pandas as pd

In [58]:
data = pd.read_excel("80 below accuracy.xlsx")

In [59]:
data.head()

                       Name  Accuracy
0  One Nueron with 4 layers    0.1135
1  One Nueron with 5 layers    0.1135
2   2 Neurons with 3 layers    0.1135
3   2 Neurons with 5 layers    0.1135
4   4 Neurons with 4 layers    0.2186

In [60]:
accuracies = data.Accuracy

In [61]:
accuracies.head()

0    0.1135
1    0.1135
2    0.1135
3    0.1135
4    0.2186
Name: Accuracy, dtype: float64

In [62]:
names = data.Name

In [63]:
names.head()

0    One Nueron with 4 layers
1    One Nueron with 5 layers
2     2 Neurons with 3 layers
3     2 Neurons with 5 layers
4     4 Neurons with 4 layers
Name: Name, dtype: object

In [72]:
layers_list = []
neurons_list = []

for name in names:
    try:
        neurons = name.split()[0]
        layers = name.split()[3]
        print(neurons, layers)
    except:
        layers = 'No Hidden Layers'
        neurons = 'No Hidden Layer'
    neurons_list.append(neurons)
    layers_list.append(layers)

One 4
One 5
2 3
2 5
4 4
One 2
One 3
One 1
4 5
3 3
3 5
2 4
4 2
2 1
3 2
5 3
2 2
5 5
5 4
5 2
3 1
3 4
4 1
4 3
5 1

In [73]:
neurons_list = [1 if x=='One' else x for x in neurons_list]

In [75]:
neurons_list

[1,
 1,
 '2',
 '2',
 '4',
 1,
 1,
 1,
 '4',
 '3',
 '3',
 '2',
 '4',
 '2',
 '3',
 '5',
 '2',
 '5',
 '5',
 '5',
 '3',
 '3',
 '4',
 '4',
 '5']

In [82]:
layers = pd.DataFrame(layers_list)

In [77]:
layers.describe()

         0
count   25
unique   5
top      4
freq     5

In [78]:
layers.head()

   0
0  4
1  5
2  3
3  5
4  4

In [79]:
layers.sort_values(0)

    0
24  1
22  1
20  1
13  1
7   1
19  2
16  2
14  2
12  2
5   2
9   3
23  3
6   3
15  3
2   3
11  4
4   4
18  4
21  4
0   4
10  5
17  5
3   5
1   5
8   5

In [80]:
layers.value_counts()

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [83]:
neurons = pd.DataFrame(neurons_list)

In [84]:
neurons.head()

   0
0  1
1  1
2  2
3  2
4  4

In [85]:
neurons.describe()

         0
count   25
unique   5
top      1
freq     5

In [86]:
neurons.value_counts()

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [37]:
neurons_list = [x for x in neurons_list if x != '5000']

In [38]:
neurons_list

['40',
 '30',
 '40',
 '60',
 '50',
 '90',
 '80',
 '70',
 '70',
 '40',
 '60',
 '80',
 '50',
 '50',
 '100',
 '60',
 '200',
 '70']

In [39]:
total = 0
count = 0
for neuron in neurons_list:
    print(neuron)
    total += int(neuron)
    count += 1

print(total/count)

40
30
40
60
50
90
80
70
70
40
60
80
50
50
100
60
200
70
68.88888888888889